* {
    margin: 0%;
}

header {
    background: linear-gradient(to top, rgb(252, 251, 251), rgb(252, 221, 221));
    height: 15vh;
    text-align: center;
    font-family: Impact;
    padding: 1em;
}

main {
    min-height: 59vh;
    text-align: center;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Verdana;
    /* background-color: rgb(180, 243, 236); */
}

footer {
    display: flex;
    align-items: flex-end;
    height: 10vh;
    text-align: start;
    font-size: larger;
    padding: 1em;
    background-color: rgb(200, 200, 228);

}

.ConjuntoMaterias {
    display: flex;
    flex-direction: row;
}

.anio {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    justify-content: center;
    border: solid 3px;

}

h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 15px;
    color: rgb(85, 83, 83);
}

em {
    color: coral;
    font-size: x-large;
}

.materias {
    text-align: left;
    padding: 5px;
    margin: 10px;
    background-color: rgba(121, 115, 115, 0.3);
    font-size: smaller;
}

.materias:hover {
    background-color: rgba(165, 5, 5, 0.3);
}

.limpiar {
    width: 12em;
    height: 2em;
    font-size: larger;
    margin: 1em;
}

.btn {
    width: 10em;
    height: 1.5em;
    font-size: larger;
}

label {
    font-size: large;
    margin-right: 1em;
    margin: auto;
}

.disclaimer {
    color: red;
}



.tecnicaturas {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
}

.tecnicaturas fieldset {
    display: flex;
    flex-direction: row;

}

.seccionTecnicatura {
    margin: 10px;
    width: 50%;
}

select {
    font-size: large;
}

.seccionTecnicatura section {
    width: 100%;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

.tec {
    margin-bottom: 10px;
}