* {
    margin: 0%;
}

header{
    background: linear-gradient(to top, rgb(252, 251, 251), rgb(252, 221, 221));
    height: 20vh;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}
main{
    height: 59vh;
    text-align: center;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
footer{
    display: flex;
    align-items: flex-end;
    height: 10vh;
    text-align: start;
    font-size: larger;
    padding: 1em;
    background-color: rgb(200, 200, 228);

}